[Unit]
Description=Mount CIFS Share with Script
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mount-cifs.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
